{% extends "base_generic.html" %}

{% block content %}
    <h1>Book List</h1>

    {% if book_list %}
    <ul>

      {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
          <a style="color: dimgray" href="{% url 'author-detail' book.author.id %}">({{book.author}})</a>
      {% if user.is_staff and perms.catalog.can_edit_book %}
       - <a href="{% url 'book_update' book.id %}">Update</a>
       - <a class="text-danger" href="{% url 'book_delete' book.id %}">Delete</a>
      {% endif %}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
    {% if user.is_staff and perms.catalog.can_edit_book %}
    <a href="{% url 'book_create' %}">Create New</a>
    {% endif %}
{% endblock %}